table, caption{
  border-collapse: collapse;
  border: 1px solid black;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: red;
  color: white;
  font-weight: bold;
}

.bold  {
	font-weight: bold;
}

.col {
	border: 1px solid black;
	padding: 30;
}